.app {
    background-image: url(../img/img-fundo-4.png);
    width: 100%;
    margin-top: 300px;
    background-repeat: no-repeat;
    height: 945px;
}

.app .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 360px;
    margin-right: 285px;
}

.app__titulo {
    color: var(--primary-200);
    font-size: 35px;
    margin-bottom: 40px;
    line-height: normal;
    width: 765px;
}

.app__btn {
    display: flex;
    gap: 80px;
}

.app__btn--download {
    padding: 16px 38px;
    font-size: 16px;
    color: var(--neutral-100);
    border-radius: 10px;
    background-color: black;
    transition: all .2s ease;
}

.app__btn--download:hover {
    opacity: 0.7;
}

.app__btn--download strong {
    display: block;
    text-align: left;
    font-size: 28px;
}