.getstarted__titulo::before {
    content: '';
    background-image: url(../img/linha-reta.png.jpg);
    width: 210px;
    height: 18px;
    margin-right: 320px;
    margin-bottom: 95px;
}

.getstarted__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-200);
    font-size: 50px;
    margin-bottom: 200px;
}

.getstarted__solucoes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.getstarted__solucoes h3 {
    color: var(--primary-200);
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0 28px;
    line-height: normal;
}

.getstarted__solucoes p {
    line-height: normal;
    margin-bottom: 70px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 30px;
}

.getstarted__solucoes div {
    width: 308px;
    background: var(--neutral-100);
    border-radius: 8px;
    transition: all .2s ease;
    border: 1px solid var(--neutral-100);
    padding-top: 20px;
}

.getstarted__solucoes div:hover {
    border: 1px solid var(--neutral-200);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--neutral-200);
}
